<th:block th:fragment="dashboard-head">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/custom.css" rel="stylesheet" />
	
	<script>
		function logOutFun() {
		        localStorage.removeItem('token');
		        window.location.href = '/api/students/login';
		    }
	</script>
</head>
</th:block>