<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
    <!-- Navbar Start -->
    <div th:replace="navbar :: navbar"></div>
    <!-- Navbar End -->

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-left wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Create An Account</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                   <!-- Form with enctype="multipart/form-data" for file upload -->
                   <form id="registerForm" method="POST" enctype="multipart/form-data" action="/api/students/register" onsubmit="return handleSubmit(event)">
                       <div class="row g-3">
                           <div class="col-12">
                               <div class="form-floating">
                                   <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                                   <label for="name">Name</label>
                               </div>
                           </div>

                           <div class="col-12">
                               <div class="form-floating">
                                   <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email ID" required>
                                   <label for="email">Email ID</label>
                               </div>
                           </div>
                           
                           <div class="col-12">
                                 <div class="form-floating">
                                     <input type="number" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter Mobile Number" required>
                                     <label for="mobileNumber">Mobile No.</label>
                                 </div>
                             </div>

                             <div class="col-12" style="background-color: white;">
                                 <div class="form-floating">
                                     <select class="form-control" id="gender" name="gender" required style="background-color: white;">
                                         <option value="" disabled selected>Select Gender</option>
                                         <option value="male">Male</option>
                                         <option value="female">Female</option>
                                         <option value="other">Other</option>
                                     </select>
                                     <label for="gender">Gender</label>
                                 </div>
                             </div>

                             <div class="col-12">
                                 <div class="form-floating">
                                     <input type="date" class="form-control" id="dob" name="dob" placeholder="Select Date of Birth" required>
                                     <label for="dob">Date of Birth</label>
                                 </div>
                             </div>

                             <div class="col-12">
                                 <div class="form-floating">
                                     <textarea class="form-control" id="address" name="address" placeholder="Enter your address" required></textarea>
                                     <label for="address">Address</label>
                                 </div>
                             </div>

                             <div class="col-12" style="background-color: white;">
                                 <div class="form-floating">
									<input type="file" class="form-control" id="photoUpload" name="imageFile" accept="image/*" required style="background-color: white;">
                                     <label for="photoUpload">Upload Photo</label>
                                 </div>
                             </div>

                             <div class="col-12">
                               <div class="form-floating">
                                   <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                   <label for="password">Password</label>
                               </div>
                           </div>

                           <div class="col-12">
                               <div class="form-check">
                                   <input type="checkbox" class="form-check-input" id="selfDeclaration" required>
                                   <label class="form-check-label" for="selfDeclaration">
                                       I hereby declare that the information provided is true and accurate.
                                   </label>
                               </div>
                           </div>

                           <div class="col-12">
                               <button class="btn btn-primary w-100 py-3" type="submit">Register Now</button>
                           </div>
                       </div>
                   </form>
               </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Get In Touch</h5>
                    <a href="/api/students/login">Login ?</a>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <div th:replace="footer :: footer"></div>
    <!-- End Footer -->

    <script>
		async function handleSubmit(event) {
		    event.preventDefault(); // Default form submission ko rokna
		    const form = document.getElementById('registerForm');
		    const formData = new FormData(form);

		    try {
		        const response = await fetch(form.action, {
		            method: 'POST',
		            body: formData // FormData ko yahan pass karte hain
		        });

		        if (!response.ok) {
		            const errorMessage = await response.json(); // JSON response ko parse karna
		            alert('Error: ' + errorMessage.join(", ")); // Error messages ko show karna
		        } else {
		            const message = await response.json(); // Success message ko handle karna
		            alert('Success: ' + message.message); // Success message
		        }
		    } catch (error) {
		        alert('Error: ' + error.message); // Network error message
		    }
		}

    </script>
</body>
</html>
